# Google Analytics 4 measurement ID, for example: G-XXXXXXXXXX
NEXT_PUBLIC_GA_ID=G-LX9F5C419L

# Google Ads conversion tracking ID, for example: AW-123456789
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18158211752

# Google Ads conversion label for contact leads.
NEXT_PUBLIC_GOOGLE_ADS_CONVERSION_LABEL=MO7uCM7chqwcEKilwdJD